{{#if user}}
	{{> _add-btn}}
{{/if}}
{{>common/_nursing_assessment_scrollbar}}




<div id="patient_bio" class="row section scrollspy" style="margin-top: 40px">
	<div class="col s6 offset-s3 m6 offset-m3 l6 offset-l3">
		<div class="card">
			<div class="card-content">
				<a href="/master/list-patients" class="btn-large main-menu-button waves-effect waves-light">List Master
					Records</a>
				<a href="/master/master-add-patient" class="btn-large main-menu-button waves-effect waves-light">Add Master
					Records</a>
				<a href="#" class="btn-large main-menu-button waves-effect waves-light">Student Records</a>
				<a href="#" class="btn-large main-menu-button waves-effect waves-light">Setup Group</a>
			</div>
		</div>
	</div>
</div>

{{>_tabs}}

<div class="row">
	<!-- Side scrollspy option -->
	<!--	<div class="col hide-on-small-only m3 l2 s12">
			    <ul class="pinned section table-of-contents">
				    <li>
					    <a href="#who">Who We Are side</a>
				    </li>
				    <li>
					    <a href="#what">What We Do</a>
				    </li>
				    <li>
					    <a href="#where">Where We Are</a>
				    </li>
			    </ul>
		    </div>-->

	<form class="col s12">
		<div class="input-field col s12 m6 l6">
			<textarea id="textarea1" class="materialize-textarea"></textarea>
			<label for="textarea1">Chief Complain</label>
		</div>

		<div class="input-field col s12 m6 l6">
			<textarea id="textarea1" class="materialize-textarea"></textarea>
			<label for="textarea1">Chief Complain</label>
		</div>
	</form>


	<div class="col m9 l12 s12">
		<div id="who" class="section scrollspy">
			<h4>Who Are We?</h4>
			<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Facilis laborum tenetur tempora quo ipsum!
				Nisi
				nobis,
				dolorem excepturi quia rem architecto cupiditate repudiandae delectus nihil, commodi, accusamus corrupti
				obcaecati
				sequi fuga a ipsum. Labore earum corrupti voluptatibus placeat blanditiis saepe, id officiis quas
				nesciunt.
				Voluptate,
			</p>
		</div>

		<div id="what" class="section scrollspy">
			<h4>What Do We Do?</h4>
			<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Facilis laborum tenetur tempora quo ipsum!
				Nisi
				nobis,
				dolorem excepturi quia rem architecto cupiditate repudiandae delectus nihil, commodi, accusamus corrupti
				obcaecati
				sequi fuga a ipsum. Labore earum corrupti voluptatibus placeat blanditiis saepe, id officiis quas
				nesciunt.
				Voluptate,
				orem ipsum dolor sit amet consectetur, adipisicing elit. Facilis laborum tenetur tempora quo ipsum! Nisi
				nobis,
				dolorem excepturi quia rem architecto cupiditate repudiandae delectus nihil, commodi, accusamus corrupti
				obcaecati
				sequi fuga a ipsum. Labore earum corrupti voluptatibus placeat blanditiis saepe, id officiis quas
				nesciunt.
				Voluptate,
				orem ipsum dolor sit amet consectetur, adipisicing elit. Facilis laborum tenetur tempora quo ipsum! Nisi
				nobis,
				dolorem excepturi quia rem architecto cupiditate repudiandae delectus nihil, commodi, accusamus corrupti
				obcaecati
				sequi fuga a ipsum. Labore earum corrupti voluptatibus placeat blanditiis saepe, id officiis quas
				nesciunt.

			</p>
		</div>

		<div id="where" class="section scrollspy">
			<h4>Where Are We?</h4>
			<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Facilis laborum tenetur tempora quo ipsum!
				Nisi
				nobis,
				dolorem excepturi quia rem architecto cupiditate repudiandae delectus nihil, commodi, accusamus corrupti
				obcaecati
				sequi fuga a ipsum. Labore earum corrupti voluptatibus placeat blanditiis saepe, id officiis quas
				nesciunt.
				Voluptate,Lorem
				ipsum dolor sit amet consectetur, adipisicing elit. Facilis laborum tenetur tempora quo ipsum! Nisi
				nobis,
				dolorem
				excepturi quia rem architecto cupiditate repudiandae delectus nihil, commodi, accusamus corrupti
				obcaecati
				sequi
				fuga a ipsum. Labore earum corrupti voluptatibus placeat blanditiis saepe, id officiis quas nesciunt.
				Voluptate,
				orem ipsum dolor sit amet consectetur, adipisicing elit. Facilis laborum tenetur tempora quo ipsum! Nisi
				nobis,
				dolorem excepturi quia rem architecto cupiditate repudiandae delectus nihil, commodi, accusamus corrupti
				obcaecati
				sequi fuga a ipsum. Labore earum corrupti voluptatibus placeat blanditiis saepe, id officiis quas
				nesciunt.
				Voluptate,
				orem ipsum dolor sit amet consectetur, adipisicing elit. Facilis laborum tenetur tempora quo ipsum! Nisi
				nobis,
				dolorem excepturi quia rem architecto cupiditate repudiandae delectus nihil, commodi, accusamus corrupti
				obcaecati
				sequi fuga a ipsum. Labore earum corrupti voluptatibus placeat blanditiis saepe, id officiis quas
				nesciunt.
				Voluptate,
			</p>
		</div>
	</div>
</div>

<!--</section>-->

<div style="margin-top: 1000px;"></div>