<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>Educational Electronics Health Records</title>
	{{!--<link rel="icon" href="/img/ekg-monitor-red.jpg">--}}

	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
		  integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous"
	>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css"
		  integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">

	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">

	<link rel="stylesheet" href="/assets/css/landingpage.css">


</head>

<body>

	<header id="showcase">
		<h1>Welcome To Edu-EMR 0.1</h1>

		{{!--<a class="btn red darken-1" href="/auth/google"><i class="fab fa-google left"></i>Login With Google</a>--}}
		<a class="btn teal" href="/auth/azure"><i class="fas fa-cloud left"></i>Login</a>
		{{!--<a class="btn black"
		   href="https://login.microsoftonline.com/common/oauth2/logout?post_logout_redirect_uri=https://composition.sit.nyp.edu.sg
		   /logout">
			<i class="fas fa-sign-out-alt left"></i>Logout</a>--}}
	</header>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
</body>

</html>
