<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>Educational Electronic Medical Records</title>

	<link rel="stylesheet" href="/assets/css/split-landing.css">

</head>

<body>
	
	<div class="container">
		<div class="split left">
			<h1>Electronic Medical Records</h1>
		</div>
		<div class="split right">

			<div>

				<a href="/auth/azure" class="button">Login</a>
				{{!--<a href="/auth/google" class="button">Student Login</a>--}}

			</div>
			{{!--
						<div class="row">

						</div>--}}

		</div>
	</div>


	<script src="/assets/js/split-landing.js"></script>


</body>

</html>
