<h3>Welcome to Edu-EMR 0.1</h3>


<a class="btn red darken-1" href="/auth/google"><i class="fab fa-google left"></i>Login With Google</a>
<a class="btn blue darken-1" href="/auth/azure"><i class="fas fa-cloud left"></i>Login With Azure</a>
<a class="btn black"
   href="https://login.microsoftonline.com/common/oauth2/logout?post_logout_redirect_uri=https://localhost/logout"
   <!--** CHANGE HERE:-->
   <!--href="https://login.microsoftonline.com/common/oauth2/logout?post_logout_redirect_uri=https://composition.sit.nyp.edu.sg/logout"-->
>

	<i class="fas fa-sign-out-alt left"></i>Logout</a>
