
<div id="patient-tabs" class="row section scrollspy">
	<ul id="main-tabs" class="tabs">
		<li class="tab col s4">
			<a href="#biography-tab">Patient Biography</a>
		</li>
		<li class="tab col s4">
			<a class="active" href="#emergency-tab">Emergency Contact</a>
		</li>
		<li class="tab col s4">
			<a href="#relatives-tab">Relatives</a>
		</li>

	</ul>

	<div id="biography-tab" class="col s12 blue-grey">
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda atque consequatur culpa deserunt laborum nobis
		perferendis quis repellat sed vero. Animi at eligendi eum ex ipsum tempore veritatis. A aliquam distinctio, dolores
	</div>

	<div id="emergency-tab" class="card deep-orange lighten-4">
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti distinctio doloremque ex, expedita id impedit in
		incidunt maxime natus nihil, omnis, quia sed velit. Aliquam beatae ipsam odio provident repudiandae?
	</div>

	<div id="relatives-tab" class="col s12 deep-purple">
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab commodi consequatur culpa dolore, eligendi, esse
			expedita fugit hic inventore magnam nihil nostrum odit provident quas quisquam sed sunt! Blanditiis, possimus?
	</div>
</div>
