<div class="row">
	<h3>New User</h3>
	<form class="col s12 m6" action="/user/add" method="post">
		<div class="row">
			<div class="input-field">
				<label for="firstName">Family Name</label>
				<input type="text" name="firstName" required></div>
		</div>
		<div class="row">
			<div class="input-field">
				<label for="lastName">Given Name</label>
				<input type="text" name="lastName" required>
			</div>
		</div>
		<button type="submit" class="btn">Save</button>
	</form>
</div>