
<div class="row">
	<h3>Add Story</h3>
	<form class="col s12 m6" action="/story/add" method="post">
		<div class="row">
			<div class="input-field">
				<label for="title">Story Title</label>
				<input type="text" name="title" required></div>
		</div>
		<div class="row">
			<div class="input-field">
				<h5>Tell Us Your Story:</h5>
				<textarea name="body"></textarea>
			</div>
		</div>
		<div class="row">
			<div class="input-field">
				<label for="lastName">Given Name</label>
				<input type="text" name="lastName" required>
			</div>
		</div>
		<button type="submit" class="btn">Save</button>
	</form>
</div>