
<div class="row">
	<h3>Search Story</h3>
	<form class="col s12 m6" action="/story/getStory" method="post">
		<div class="row">
			<div class="input-field">
				<label for="title">Story Title</label>
				<input type="text" name="title" required></div>
		</div>
		<button type="submit" class="btn">Search</button>
	</form>
</div>