<!-- Fixed horizontal scrollspy -->
<!--<div class="navbar-fixed hide-on-med-and-down">-->
<div class="navbar-fixed hide-on-small-only">
	<nav class="white z-depth-0" style="line-height: 25px">
		<div class="nav-wrapper">
			<!--table-of-contents for scrollspy-->
			<!--<div class="pinned section table-of-contents">
				    <a href="#who">Who We Are</a>
				    <a href="#what">What We Do</a>
				    <a href="#where">Where We Are</a>
			    </div>-->

			<!-- Eash link is grey-highlighted when enclosed in list -- haha -->
			<ul class="section table-of-contents">
				<li>
					<a href="#neurosensory">Neuro Sensory</a>
				</li>
				<li>
					<a href="#respiratory">Respiratory</a>
				</li>
				<li>
					<a href="#circulatory">Circulatory</a>
				</li>
				<li>
					<a href="#gastrointestinal">Gastrointestinal</a>
				</li>
				<li>
					<a href="#elimination">Elimination</a>
				</li>
				<li>
					<a href="#sleep">Sleep</a>
				</li>
				<li>
					<a href="#pain">Pain</a>
				</li>
				{{#unless userType}}
				<li>
					<a href="/master/fall">Morse Fall Scale</a>
				</li>
				{{else}}
				<li>
					<a href="/student/fall/{{recordID}}">Morse Fall Scale</a>
				</li>
				{{/unless}}
				{{#unless userType}}
				<li>
					<a href="/master/braden">Braden Scale</a>
				</li>
				{{else}}
				<li>
					<a href="/student/braden/{{recordID}}">Braden Scale</a>
				</li>
				{{/unless}}
			</ul>
		</div>
	</nav>
</div>


<!--
<div id="new" class="section scrollspy">
<h4>New</h4>
<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Facilis laborum tenetur tempora quo ipsum!
	Nisi
	nobis,
	dolorem excepturi quia rem architecto cupiditate repudiandae delectus nihil, commodi, accusamus corrupti
	obcaecati
	sequi fuga a ipsum. Labore earum corrupti voluptatibus placeat blanditiis saepe, id officiis quas
	nesciunt.
	Voluptate,
</p>
</div>-->
